{% extends 'base-admin.html.twig' %}

{% block title %}Realisation{% endblock %}

{% block body %}
    <h1>Mes réalisations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Image</th>
                {# <th>ImageSize</th> #}
                {# <th>UpdatedAt</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('admin_realisation_new') }}" class="btn btn-success">Nouveau</a>

        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.title }}</td>
                <td>{{ realisation.description }}</td>
                <td><img src="{{ asset('images/imageRealisation/' ~ realisation.imageName) }}" alt="{{realisation.title}}" class="img-fluid w-50"></td>
                {# <td>{{ realisation.imageName }}</td> #}
                {# <td>{{ realisation.imageSize }}</td> #}
                {# <td>{{ realisation.updatedAt ? realisation.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('admin_realisation_show', {'id': realisation.id}) }}"><img src="{{ asset('images/eye.svg') }}" alt="Voir" title="Voir"></a>
                    <a href="{{ path('admin_realisation_edit', {'id': realisation.id}) }}"><img src="{{ asset('images/edit.svg') }}" alt="Mettre à jour" title="Mettre à jour"></a>
                    <a href="{{ path('admin_realisation_delete', {'id': realisation.id}) }}"><img src="{{ asset('images/trash.svg') }}" alt="Supprimer" title="Supprimer"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
