{% extends 'base-admin.html.twig' %}

{% block title %}Messages clients{% endblock %}

{% block body %}
<h1 class="my-3">Messages clients</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.email }}</td>
                <td>{{ message.name }}</td>
                <td>{{ message.firstname }}</td>
                <td>{{ message.phone }}</td>
                <td>{{ message.message|raw }}</td>
                <td><a href="{{ path('delete_message', {'id': message.id}) }}" class="btn btn-danger text-white"><i class="fa fa-trash"></i></a></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Aucun message</td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>
{% endblock %}
