{% extends 'base-admin.html.twig' %}

{% block title %}Astuces index{% endblock %}

{% block body %}
    <h1>Astuces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                {# <th>Description</th> #}
                <th>ImageName</th>
                {# <th>ImageSize</th> #}
                {# <th>UpdatedAt</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('admin_astuces_new') }}" class="btn btn-success">Nouveau</a>
        {% for astuce in astuces %}
            <tr>
                <td>{{ astuce.id }}</td>
                <td>{{ astuce.title }}</td>
                <td><img src="{{ asset('images/imageAstuces/' ~ astuce.imageName) }}" alt="{{astuce.title}}" class="img-fluid w-50"></td>
                {# <td>{{ astuce.description }}</td> #}
                {# <td>{{ astuce.imageName }}</td> #}
                {# <td>{{ astuce.imageSize }}</td> #}
                {# <td>{{ astuce.updatedAt ? astuce.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('admin_astuces_show', {'id': astuce.id}) }}"><img src="{{asset ('images/eye.svg')}}" alt="Voir" title="Voir"></a>
                    <a href="{{ path('admin_astuces_edit', {'id': astuce.id}) }}"><img src="{{asset ('images/edit.svg')}}" alt="Mettre à jour" title="Mettre à jour"></a>
                    <a href="{{ path('admin_astuces_delete', {'id': astuce.id}) }}"><img src="{{asset ('images/trash.svg')}}" alt="Supprimer" title="Supprimer"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
