{% extends 'base-admin.html.twig' %}

{% block title %}Conditions index{% endblock %}

{% block body %}
    <h1>Conditions Générales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <a href="{{ path('admin_conditions_new') }}" class="btn btn-success">Nouveau</a>
        {% for condition in conditions %}
            <tr>
                <td>{{ condition.id }}</td>
                <td>{{ condition.title }}</td>
                <td>{{ condition.description|raw }}</td>
                <td>
                    <a href="{{ path('admin_conditions_show', {'id': condition.id}) }}"><img src="{{ asset('images/eye.svg')}}" alt="Voir" title="Voir"></a>
                    <a href="{{ path('admin_conditions_edit', {'id': condition.id}) }}"><img src="{{ asset('images/edit.svg')}}" alt="Mettre à jour" title="Mettre à jour"></a>
                    <a href="{{ path('admin_conditions_delete', {'id': condition.id}) }}"><img src="{{ asset('images/trash.svg')}}" alt="Supprimer" title="Supprimer"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
